body{
  background: url(./common/image/bg.jpg) 0px 0px repeat rgb(229, 230, 208);
}
.w-1200{
  width:1200px;
  margin:0 auto;
}
header{
  background:#000;
  height:60px;
  line-height:60px;
  color:#fff;
}
header img{
  width:48%;
}
nav{
    height:60px;
    line-height:60px;
}
nav li{
    float:left;
    padding-right:20px;
}
footer{
  height:80px;
  background:#000;
  color:#fff;
  text-align:center;
  line-height:80px;
}